<%- include('./header') %>

<h1>Liste des Produits</h1>
<p>
  <a href="#" class="btn btn-primary">Créer un nouveau produit</a>
</p>

<table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prix Vente</th>
      <th>Prix Achat</th>
    </tr>
  </thead>
  <tbody>
    <% produits.forEach(prod => { %>
      <tr>
        <td><%= prod.id %></td>
        <td><%= prod.nom %></td>
        <td><%= prod.prix_vente %></td>
        <td><%= prod.prix_achat %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('./footer') %>
